<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.qzxkj.mapper.PermissionInfoMapper">
    <resultMap id="BaseResultMap" type="com.sz.qzxkj.entity.PermissionInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="BIGINT" property="roleName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>


</mapper>