<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.qzxkj.mapper.AddressInfoMapper">
    <resultMap id="BaseResultMap" type="com.sz.qzxkj.entity.AddressInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="address" property="address" />
        <result column="zipcode" property="zipcode" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.sz.qzxkj.entity.AddressInfo" >
        INSERT INTO address_info (address,zipcode) VALUES (#{address},#{zipcode})
    </insert>
</mapper>