<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.qzxkj.mapper.PatentLifeInfoMapper">
    <resultMap id="BaseResultMap" type="com.sz.qzxkj.entity.PatentLifeInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="patent_info_id" jdbcType="BIGINT" property="patentInfoId" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.sz.qzxkj.entity.PatentLifeInfo">
        INSERT INTO patent_life_info (patent_info_id,remarks,create_time) VALUES (#{patentInfoId},#{remarks},#{createTime})
    </insert>
</mapper>